# Node modules
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# macOS system files
.DS_Store

# Linux
*.swp

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# React Native bundler/Metro
.expo/
.expo-shared/
metro-cache/
react-native-packager-cache-*
react-native-codegen/
tmp/

# iOS build artifacts
ios/build/
ios/Pods/
ios/Podfile.lock
ios/*.xcodeproj/project.xcworkspace/
ios/*.xcworkspace/
ios/DerivedData/
*.xcuserstate

# Android build artifacts
android/.gradle/
android/app/build/
android/build/
android/local.properties
android/gradle.properties
android/captures/

# Gradle files
.gradle/
build/
*.iml
.idea/
*.hprof

# IDE config
.idea/
*.sublime-workspace
*.sublime-project
.vscode/

# Log files
*.log

# Test & coverage
coverage/
jest-cache/
*.lcov

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Misc
.env
.env.*
*.keystore
*.jks
*.p12

# macOS specific
*.xcuserstate
